@import './mixins';

.main-container {
  @include flex-c-c;
  width: 100vw;
  flex-direction: column;
}

nav {
  background-color: #a4a4a4;
  height: 40px;
  width: 100vw;
}

.home-container {
  height: 100%;
}

//for chatbox
.chatbox-wrapper {

}

.chatbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 500px;
  height: 500px;
  background-color: #f6f6f6;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 1px 1px 2px 0 rgba(183, 183, 183, 0.5),
  1px 1px 20px 2px rgba(181, 181, 181, 0.3);
  margin-bottom: 40px;
  scrollbar-width: none;

  h3 {
    margin-top: 10px;
    font-family: "Cabin", sans-serif;
    font-size: 20px;
  }

  .messages-scroll-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    overflow: auto;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    scrollbar-color: transparent transparent;
    -ms-overflow-style: none;

    ::-webkit-scrollbar {
      width: 0;
      display: none;
      background: transparent;
    }

    .messages-div {
      overflow-x: hidden;
      //border: 1px solid red;
      width: 100%;

      .message-card {
        //border: 1px solid red;
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-bottom: 3px;

        &.peer {
          align-items: flex-start;
          padding-left: 20px;
        }

        &.user {
          align-items: flex-end;
          padding-right: 20px;
        }

        .message-bubble {
          padding: 6px 12px;
          max-width: 200px;
          min-width: 50px;

          &.peer {
            background-color: #6c43ff;
            border-radius: 9px 9px 9px 2px;
          }

          &.user {
            border-radius: 9px 9px 2px 9px;
            background-color: #5c37df;
          }
        }

        h6 {
          font-family: "Cabin", sans-serif;
          font-size: 10px;
          font-weight: bold;
          margin: 0;
          color: #f6f6f6;
        }

        p {
          font-family: "Heebo", sans-serif;
          font-size: 13px;
          margin: 0;
          color: #fcfcfc;
        }
      }
    }
  }

  .chat-bottom-div {
    padding-bottom: 10px;

    .chat-notif-div {
      height: 30px;
      font-family: "Heebo", sans-serif;
      font-size: 12px;
    }
  }

  .chat-input-div {
    //border: solid red 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;

    input {
      border: #b3b3b3 1px solid;
      border-radius: 20px;
      padding: 2px 15px;
      font-family: "Cabin", sans-serif;
      margin: 0 5px 0 5px;

      &:focus {
        outline: none;
      }

      &::placeholder {
        color: #a4a4a4;
      }
    }

    .send-button-div {
      display: flex;
      justify-content: center;
      align-items: center;
      //border: solid red 1px;
      border-radius: 25px;
      width: 25px;
      height: 25px;
      background-color: #193f86;
      cursor: pointer;

      .send-icon {
        color: whitesmoke;
        font-size: 15px;
      }
    }
  }
}